.hits {
  @extend .row;
  @extend .column;

  margin-top: 3rem;
  padding-bottom: 3rem;
  background: #eee;

  &:before {
      content:"\A";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 50px 0 50px;
      border-color: #ffffff transparent transparent transparent;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 2rem;
  }

  h2 {
    @include section-titles;
  }

  .hits-number {
    text-align: center;
    .counter {
      display: inline-block;
      font-family: 'Roboto Slab', sans-serif;
      color: $color-chaordic-red;
      border: 1px solid #dbdbdb;
      border-radius: 2px;
      background: #fff;
      padding: 0rem 1rem;
      border-radius: 5px;
      font-size: 250%;
    }
    .counter-legend {
      display: block;
      padding-top: .5rem;
      color: $color-support-text;
    }
  }
}
