@import '../mixins/_align';

.landing-form {
  @extend .row.column;

  background: url('../../assets/imgs/background-home.jpg') center center;
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  position: relative;

  .title {
    // @include vertical-align;
    text-align: center;
    h1 {
      font-family: 'Roboto Slab';
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 0;
    }
    p {
      font-size: 22px;
    }
  }

  form {
    margin-top: 3rem;
    .input-group-field {
      font-weight: 700;
      border-bottom: 2px solid $color-form;
    }
    input[type='submit'] {
      @extend .button;

      margin-left: 20px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
