.landing-form {
  @extend .row;
  @extend .expanded;

  background: url('../../assets/imgs/background-home.jpg') center center;
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  position: relative;

  .title {
    text-align: center;
    h1 {
      font-family: 'Roboto Slab';
      font-weight: 700;
      font-size: 300%;
      margin-bottom: 1rem;
    }
    p {
      font-size: 100%;
    }
  }

  form {
    @include placeholder_color($color-form);
    margin-top: 3rem;

    .input-group-field {
      font-weight: 700;
      border-bottom: 2px solid $color-form;
    }
    input[type='submit'] {
      @extend .button;

      margin-left: 20px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
