.top5 {
  margin-top: 3rem;
  margin-bottom: 3rem;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: $color-chaordic-red;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
  }

  table {
    margin-top: 2rem;
    a {
      font-weight: 700;
      text-align: left;
    }
    .counter {
      text-align: right;
      color: $color-support-text;
    }
    tr {
      border-bottom: 1px solid #f2f2f2;
    }
  }
}
