.top5 {
  @extend .row;
  @extend .expanded;

  margin-top: 3rem;
  margin-bottom: 3rem;

  h2 {
    @include section-titles;
  }

  table {
    a {
      font-weight: 700;
      text-align: left;
    }
    .counter {
      text-align: right;
      color: $color-support-text;
    }
    tr {
      border-bottom: 1px solid #f2f2f2;
    }
  }
}
