.landing-form {
  @extend .row;
  @extend .expanded;

  background: url('../../assets/imgs/background-home.jpg') center center;
  background-size: cover;
  padding: 10rem 0;
  color: #fff;

  text-align: center;
  h1 {
    margin-bottom: .5rem;
  }
  p {
    font-size: 110%;
  }
}

.top5 {
  @extend .row;
  @extend .expanded;

  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 2rem;

  h2 {
    margin-bottom: 1.5rem;
  }
}

.hits {
  @extend .row;
  @extend .expanded;

  margin-top: 3rem;
  padding-bottom: 3rem;
  background: #eee;

  &:before {
    @extend .arrow-down;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  .hits-number {
    text-align: center;
    .counter {
      display: inline-block;
      font-family: 'Roboto Slab', sans-serif;
      color: $color-chaordic-red;
      border: 1px solid #dbdbdb;
      border-radius: 2px;
      background: #fff;
      padding: 0rem 1rem;
      border-radius: 5px;
      font-size: 250%;
    }
    .counter-legend {
      display: block;
      padding-top: .5rem;
      color: $color-support-text;
    }
  }
}
