$color-chaordic-red: #aa1423;
$color-support-text: #777;
$color-bg: #eee;
$color-border: #eee;

// Form configs
$color-form: #ff6e16;

$button-background:	$color-form;
$input-shadow: none;
$input-shadow-focus: none;
$input-color: $color-form;
$input-background: transparent;
$input-background-focus: transparent;
$input-border: none;
$input-border-focus: none;
$input-placeholder-color: $color-form;

// Table configs
$table-background: #fff;
$table-border: none;
$table-stripe: none;

$anchor-color: $color-chaordic-red;
