// Need to define the parent as relative

@mixin vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

@mixin vertical-horizontal-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
