// Typography
$header-font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-background: #fff;

$anchor-color: $color-chaordic-red;

section h1 {
  font-weight: 700;
  font-size: 275%;
  margin: 0;
}

section h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 250%;
  color: $color-chaordic-red;
  margin: 0;
}
